@media screen and (max-width:720px) {
    body {
        margin: 0 10px 0;
    }

    .main-heading {
        background-color: #161616;
        border-radius: 15px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hlap-width p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        margin: 20px 0;
    }

    .hlap-width a {
        text-decoration: none;
        color: white;
        font-size: 15px;
    }

    .watch-live {
        background-color: rgb(231, 15, 15);
        border-radius: 10px;
        padding: 15px 30px;
        text-align: center;
        justify-content: center;
    }

    .hlap-width img {
        width: 100%;
        margin-top: 80px;
    }

    .heading-box {
        margin: 0px 50px;
        margin-top: 50px;
    }

    .heading-img {
        width: 50%;
        padding-left: 100px;

    }

    .hlap-width h1 {
        font-size: 40px;
    }

    .blog-btn {
        margin-left: 50px;
        padding: 20px;
        border-radius: 20px;
    }

    .blog-btn a {
        display: block;
        padding: 10px 30px;
        border-radius: 5px;
        text-decoration: none;
        color: #000000;
        font-size: 20px;
        background-color: #fffefe;
        margin: 35px 20px;
        border: 1px solid black;
    }

    .blog-btn a:last-child {
        background-color: red;
    }

    .match {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .class-1 {
        width: 100%;
    }

    .match-card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
    }
}

@media screen and (min-width:721px)and (max-width:820px) {
    body {
        margin: 0 50px 0;
    }

    .main-heading {
        background-color: #161616;
        display: flex;
        margin-top: 50px;
        border-radius: 30px;
    }

    .hlap-width p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        margin: 20px 0;
    }

    .hlap-width a {
        text-decoration: none;
        color: white;
        font-size: 15px;
    }

    .watch-live {
        background-color: rgb(231, 15, 15);
        border-radius: 10px;
        padding: 15px 30px;
        text-align: center;
        justify-content: center;
    }

    .hlap-width img {
        width: 100%;
        padding-top: 30px;
        margin-top: 100px;
    }

    .heading-box {
        width: 50%;
        padding-left: 50px;
        margin-top: 100px;
    }

    .heading-img {
        width: 50%;
        padding-right: 30px;

    }

    .hlap-width h1 {
        font-size: 40px;
    }

    .blog-btn {
        margin-left: 50px;
        padding: 20px;
        border-radius: 20px;
        display: flex;
    }

    .blog-btn a {
        display: block;
        padding: 10px 30px;
        border-radius: 5px;
        text-decoration: none;
        color: #000000;
        font-size: 20px;
        background-color: #fffefe;
        margin: 35px 20px;
        border: 1px solid black;
    }

    .blog-btn a:last-child {
        background-color: red;
    }



    .match-card {
        padding-left: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
    }


}

@media screen and (min-width:821px) {
    body {
        margin: 0 80px 0;
    }

    .main-heading {
        background-color: #161616;
        display: flex;
        margin-top: 70px;
        border-radius: 50px;
        margin: 50px 0;
    }

    .hlap-width p {
        font-weight: 400;
        font-size: 25px;
        line-height: 26px;
        margin: 50px 0;
    }

    .hlap-width a {
        text-decoration: none;
        color: white;
        font-size: 15px;
    }

    .watch-live {
        background-color: rgb(231, 15, 15);
        border-radius: 10px;
        padding: 20px 40px;
        text-align: center;
        justify-content: center;
    }

    .hlap-width img {
        width: 100%;
        padding-top: 30px;
        margin-top: 100px;
    }

    .heading-box {
        width: 50%;
        padding-left: 100px;
        margin-top: 161px;
        margin-bottom: 50px;
    }

    .heading-img {
        width: 45%;
        padding-right: 30px;
    }

    .hlap-width h1 {
        font-size: 80px;
    }

    .match {
        display: flex;
    }

    .blog-btn {
        background-color: #161616;
        height: 300px;
        width: 20%;
        padding: 20px;
        border-radius: 20px;
    }

    .blog-btn a {
        display: block;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 20px;
        background-color: #fffefe;
        margin: 35px 20px;
    }

    .blog-btn a:last-child {
        background-color: red;
    }

    .match-card {
        padding-left: 40px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
    }
}